.card {
	padding-bottom: 45px;
}

.card-dark {
	padding-bottom: 45px;
	background-color: #202c36;
}

.card__list {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 70px;
	margin: 0;
	padding: 0;
	list-style: none;
}
